* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    background-color: #f4f4f4;
    font-family: 'PT Mono', monospace;
  }
  .home-header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    padding: 12px;
    width: 100%;
  }
  .container {
    background-size: cover;
    background-position: center;
    height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  .image {
    object-fit: contain;
    z-index: 1;
  }
  .initial {
    display: flex;
    position: absolute;
    z-index: 2;
    border: 1px solid linen;
    color: rgb(114, 10, 10);
  }

  h1 {
    color: rgb(114, 10, 10);
  }
  .resume {
    display: flex;
    justify-content: center;
  }

.homebuttoncontainer {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    width: 100%;
    justify-content: center;
  }
  .homebutton {
    position: relative;
    font-size: 0;
    width: 250px;
    margin: 25px;
    cursor: pointer;
  }
  
  .homebutton img {
    width: 100%;
    height: 115.78px;
    border-radius: 5px;
  }
  
  .imagebuttoncontainer {
    position: relative;
    font-size: 0;
    width: 250px;
    margin: 25px;
    cursor: pointer;
  }
  
  .imagebuttoncontainer img {
    width: 100%;
    height: 154.38px;
    border-radius: 5px;
  }
  
  .imagebuttonoverlay {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 44%;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    font-size: 1rem;
    transition: 1s;
  }
  
  .imagebuttonoverlay:hover {
    width: 66%;
  }
  
  .imagebuttonoverlay p {
    align-self: center;
    text-align: center;
    width: 100%;
    font-size: 17px;
  }
  
  .imagebuttonoverlayhome {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 44%;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    font-size: 1rem;
    transition: 1s;
  }
  
  .imagebuttonoverlayhome:hover {
    width: 66%;
  }
  
  .imagebuttonoverlayhome p {
    align-self: center;
    text-align: center;
    width: 100%;
    font-size: 22px;
  }
  @media only screen and (min-width: 768px){

    .image {
      width: 100%;
    }
  
    .logo {
      margin-left: -30px;
      width: 93px;
      height: 90px;
    }

    @media only screen and (min-width: 900px){
        .logo{
          margin-left: -75px;
        }
      
        .image {
          height: 50%;
        }
      
    }
}